body {
    text-align: center;
    font-family: sans-serif;
    background-color: palegreen;
}

h1 {
    color: pink;
}

p {
    color: black;
}
footer {
    color: black;
    background-color: aquamarine;
}